.eggs
*.egg-info
__pycache__

.pytest_cache
*.pyc
.DS_Store
*~
*.mypy_cache*
_version.py

# Dependency directories
node_modules

# build / generate output
dist
build

#.vscode
.vscode/

# Python virtual environments
.venv*