[MASTER]

# As a temporary workaround for https://github.com/PyCQA/pylint/issues/4577
init-hook = "import astroid; astroid.context.InferenceContext.max_inferred = 500"

[MESSAGES CONTROL]

disable = bad-continuation, missing-docstring, duplicate-code, logging-fstring-interpolation, unspecified-encoding
enable = useless-suppression, no-print

[DESIGN]

max-args = 8
max-branches = 14
max-attributes = 15
min-public-methods = 1

[BASIC]

# Variable names which should always be accepted
good-names = i,
             j,
             k,
             x,
             y,
             z,
             df,
             _

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME
