[MASTER]

# As a temporary workaround for https://github.com/PyCQA/pylint/issues/4577
init-hook = "import astroid; astroid.context.InferenceContext.max_inferred = 500"

# Specify a score threshold to be exceeded before program exits with error.
fail-under=9.9

[MESSAGES CONTROL]

disable = bad-continuation, missing-docstring, duplicate-code, logging-fstring-interpolation, unspecified-encoding
enable = useless-suppression

[DESIGN]

max-args = 8
max-branches = 14
max-attributes = 15
min-public-methods = 1

[BASIC]

# Variable names which should always be accepted
good-names = i,
             j,
             k,
             x,
             y,
             z,
             df,
             _


[REPORTS]

# Python expression which should return a score less than or equal to 10. You
# have access to the variables 'error', 'warning', 'refactor', and 'convention'
# which contain the number of messages in each category, as well as 'statement'
# which is the total number of statements analyzed. This score is used by the
# global evaluation report (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME
