language: python
dist: bionic

addons:
  chrome: stable

services:
  - xvfb

python:
  - "3.6"

matrix:
  fast_finish: true

before_install:
  - sudo apt-get -qq update
  - pip freeze | grep -vw "pip" | xargs pip uninstall -y
  - pip install --upgrade pip

install:
  - wget https://chromedriver.storage.googleapis.com/76.0.3809.12/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - export PATH=$PATH:$PWD

script:
  - pip install .
  - pip install .[tests]
  - pip install dash[testing]
  - pycodestyle webviz_subsurface/containers webviz_subsurface/datainput tests
  - pytest tests
  - git clone https://github.com/equinor/webviz-config.git
  - pushd ./webviz-config/docs; python build_docs.py; popd

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: ./webviz-config/docs/_build
    github_token:
      secure: Itu6xFJa/txPZVULLGKpWeb4h3FKevfa82w6IwA6WSQxiSiJPcnQIOjQeSV+xvq4hKtIIZWhLru6n71uXxkTa3ZB9KMzDBGFya4v3x4/QHOpUy8n0VkQh6hIIaROGLyRGdh1iXi5G+Ke+31vs8FycsDD7xScDIHaL9lFzQAgB6tBU+jwCCB8q7XOHzLZh8AEnkgtaMCzG9Vv9ATB7MZafssCVhmkIngBLODSuvctkZHLx4nn6qkLIVk36dKxA4rRY9ayNOL1LtcIcnrN8q0lg5RVp+tAV6NvgsIgeFwrLPXCcM7eGYlZDKNkOtsXjzYnCtjIV7WHNj9Y/hgZb2TYBnUyZjgKPki+CMnW0uYnp9u6LaHAdnWR5yKF74WarDKPdquiI3PAlGnUkWUhUtmQhYEX3uROE2SIKbUv319ihDebCdQMDsLnmPyZvm8oRseZGKUq+XoP9mcv4FgB1+eXeQxWQsIUjeJ83D8qoX6PN7OHPKxuw27Pp0H+JAbT6U6NK/8g+orFUeJMsUEKhmvvFqdwLaYj3jfKZIkwrbKYQ5Xz9EkK8ORWODPkk3CNbwlASw2ohQpSuKg3NzVwJ80oDLMhg1YaLXyf/kBiQwbgEyYeWITDWm3JPUWM81TJYqIXoA8MEGmTOzlRegzANpElhnRjtArY9pwc7WbW6oHY4/s=
    keep_history: true
    on:
      branch: master

  - provider: pypi
    user: webviz
    password:
      secure: raZvnkESL4A7R2s/IW0amym1p4rOvg3WeJ1hpnS13+97OPWnj3QgusHFmxlbU8JV1LzeotDrLJKDFtNxUSJlqi52SuM1MnaGA4zrngF4yHCgfCNHIRNMYRh53jcEra8vE0QVMv3k+0uQHV2bHnvCkFDTa3ktJo6ovCIrBH+RBRSukz2KlzNiUToNZvvUX5fI9jBCk7vDarWOc9YJqew5gsKzeOPp7pdvis5Em3T0psB6Y3Gg56w8jZ/NrpEwtJ+otxBlgk+Qrwg4c/7PqJ8Ib8JHXmnLMKHv/SXdBpJObq+2lI8bdgxM8RDKXGwi+5/p29B5tmzaS37fmJZ25Js7ZfnND3hjvEnnJMiDKjBT4qEqsIA7wSZfbBVczRjd3uf8BoqVAE/O9/kG9LJn+zcvLy3+Neb4Gi7e1bgJ20DgPupRU6D6UR7TiFtkiksF97pjfcOYRQ5iM/y+y6Uhj1BT2mONg4XMgUa6PO/JF3OanOwbcz5EfEa3fAvQu90CV71o150hvIrarQiGhKoD7B533Ehh+gSWgvN8TF6rR26UvqIntqyaVGAbAzcGGFQmF1pE0ZRtrSlk9xShH4jxD5EPRnx7G9ip+sU/cfneNFRKG/HAPIh6AOiWqnKlZx0oDaF7eWB78/wGAk4K5YFb1C7nM6fyLzCDDxrJrgvtNXovTgw=
    on:
      tags: true
